<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892856660942-1vmac80e3ol3ha9jn4p43bq4fn6ib29u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892856660942-1vmac80e3ol3ha9jn4p43bq4fn6ib29u</string>
	<key>API_KEY</key>
	<string>AIzaSyCjDNU9ApfyPvxBzU3LHJzjiSWp30x0sRw</string>
	<key>GCM_SENDER_ID</key>
	<string>892856660942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>karate-b750a</string>
	<key>STORAGE_BUCKET</key>
	<string>karate-b750a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892856660942:ios:6bfcd8547d5a9b151ff19f</string>
</dict>
</plist>